.App {
  text-align: left;
}

.App-header {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: #222;
  	padding: 10px;
  	color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ports {
	.port_post{
		display: flex;	
	}
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.dock {
	background-color: #703000;
	height: 25vh;
	&.top-dock{
		height: 50px;
	}
	&.divider{
		width:30px;
	}
	&.spacer{
		background-color: lightblue;
	}
}

.ocean {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	.addMenuIconBound{
		padding:0 !important;
		.addMenuIcon{
			width: 100% !important;
			height: 100% !important;
		}
	}
}
